[Unit]
Description=BlackPotBPanel Backend Service
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/blackpotbpanel-v2/backend
Environment=PATH=/opt/blackpotbpanel-v2/venv/bin
ExecStart=/opt/blackpotbpanel-v2/venv/bin/python main.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
